.m-dialog {
    display: none;
}

    .m-dialog .dialog-modal {
        opacity: .4;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        z-index: 999;
    }

    .m-dialog .dialog-content {
        padding: 24px;
        position: absolute;
        width: 650px;
        height: 590px;
        background-color: #ffffff;
        z-index: 1000;
        top: calc(50% - 310px);
        left: calc(50% - 400px);
        border-radius: 5px;
        font-size: 15px;
    }

    .m-dialog .dialog-header {
        display: flex;
    }

        .m-dialog .dialog-header .dialog-header-close {
            position: absolute;
            right: 0;
            top: 0;
        }

            .m-dialog .dialog-header .dialog-header-close:hover {
                border-radius: 0 5px 0 0;
            }

            .m-dialog .dialog-header .dialog-header-close button {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: #ffffff;
                background-image: url('../../content/icon/x.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 20px;
                opacity: .7;
            }

                .m-dialog .dialog-header .dialog-header-close button:hover {
                    background-color: #ccc;
                }
        /*Tiêu đề của dialog*/
        .m-dialog .dialog-header .dialog-header-title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }
/*Nội dung form của dialog*/

.dialog-img .img {
    background-image: url('../../content/img/default-avatar.jpg');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-color: gainsboro;
    border-style: solid;
    border-width: thin;
}

.dialog-body-icon {
    background-image: url('../../content/icon/document-online.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 160px;
}

.dialog-gender-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../content/icon/radio-checked.png');
}

.dialog-img .text {
    text-align: center;
    font-weight: bold;
}
.dialog-body.flex{
    display:flex;
    
}
.dialog-body .dialog-img{
    padding-top:16px;
    padding-right:16px;
}
.dialog-content span {
    color: red;
}

.dialog-infor-one {
    margin-left: 0px;
}
.dialog-body .dialog-infor-one {

}
.dialog-infor-two {
    margin-left: 15px;
}

.dialog-body .m-gender {
    padding-top: 10px;
}

.dialog-body-botton {
    float: left;
}

    .dialog-body-botton .dialog-infor-one input {
        width: 390px;
    }

.dialog-content .dialog-footer {
    height: 60px;
    background-color: gainsboro;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
}

.dialog-footer-botton {
    display: flex;
    position: absolute;
    right: 24px;
    justify-content: flex-end;
}

.btn-cancel {

    width: 80px;
    display: inline-block;
    justify-content: center;
}


.dialog-footer-botton .btn-save {

    margin-left: 30px;
    margin-right: 36px;
}

.dialog-select select {
    width: 205px;
    height: 37px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}
.m-del {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #F65454;
    outline: none;
    color: #ffffff;
    position: absolute;
    float: left;
    right:700px;
}
/**
    Form xac nhap xoa
*/

.m-popup {
    display: none;
}

    .m-popup .popup-modal {
        position: fixed;
        z-index: 2000;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0.8;
    }

    .m-popup .popup-content {
        position: absolute;
        /*width: 750px;*/
        /*height: 580px;*/
        z-index: 2000;
        top: calc(50% - 190px);
        left: calc(50% - 180px);
        background-color: #ffffff;
        border-radius: 5px;
    }

        .m-popup .popup-content .popup-title {
            padding: 24px;
            font-size: 15px;
            font-weight: bold;
        }

.popup-icon {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0px 10px 24px 24px;
    font-size: 14px;
    color: #f65454;
    background-color: #e9ebee;
    border-radius: 50%;
}

    .popup-icon i {
        margin-top: 10px;
        margin-left: 11px;
    }

.popup-text {
    margin: 8px 24px 24px 0px;
}

.popup-action {
    display: flex;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    justify-content: flex-end;
}

.m-btn-cancel2 button {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #eeeeee;
    outline: none;
    margin-right: 16px;
}

    .m-btn-cancel2 button:hover {
        background-color: #dddddd;
        cursor: pointer;
    }

.m-btn-del button {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 5px;
    background-color: #F65454;
    outline: none;
    color: #ffffff;
}

    .m-btn-del button:hover {
        cursor: pointer;
    }

.m-del:hover{
    cursor: pointer;
}

/**
    hien thi thong bao cho them, sua, xoa
*/
.m-inform {
    position: fixed;
    top: 40px;
    right: 600px;
    z-index: 1600;
    display: none;
}

    .m-inform .warning-success {
        background-color: #BAFFE7;
        height: 48px;
        line-height: 48px;
        border-radius: 4px;
        font-size: 13px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }

.warning-success i {
    font-size: 24px;
    color: #01B075;
}
/**
    Form thông báo lỗi
*/
.m-error{
   display:none
}
.m-error .popup-modal {
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
}
.m-error .error-content {
    position: absolute;
    z-index: 2000;
    top: calc(50% - 190px);
    left: calc(50% - 180px);
    background-color: #ffffff;
    border-radius: 5px;
    width: 400px;
    height: auto;
}
    .m-error .error-content .error-title {
        padding: 24px;
        font-size: 20px;
        font-weight:bold;
    }
.error-icon i {
    padding-left: 16px;
    padding-right: 10px;
    color: red;
}
.error-action {
    background-color: #E5E5E5;
    height: 60px;
  
    border-radius:0 0 5px 5px;
}
.m-btn-close button {
    width: 80px;
    height: 40px;
    color: white;
    background-color: #019160;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    outline: none;
    cursor: pointer;
    position: relative;
    left: 290px;
    margin-top: 10px;
}

.m-btn-close button:hover {
    background-color: #2FBE8E;
}